<div class="right-column-box">

<h1>Fun Facts</h1>

<p>The B-25, a 'medium-sized bomber', is similar in size to the F-18 'fighter'.</p>

<div class="image-center">
  <%= image_tag 'b-25_f-18.png' %>
</div>

</div>