<div class="right-column-box">

<h1>Book a Ride</h1>

<p>Book your seat online and SAVE. Buying online guarantees your reservation. And you can SAVE by reserving online.</p>

<p>All seats are regular price at the event.</p>
</div>