<p>Posts utilize "markdown" for styling. Here are some tips:</p>

<p>blank lines create paragraph breaks</p>

<p> For headlines use "=" and "-" under headline</p>
<blockquote>
Top Level headline<br />
===<br />
Sub headline<br />
---</blockquote></p>

<p>Some text formatting<br />
<blockquote>
**bold**<br />
_italics_<br />
</blockquote></p>

<p>Lists are made by using "-" as the bullet, or number period, followed by a space<br />
<blockquote>
- item 1<br />
- item 2<br />
<br />
1. item 1<br />
2. item 2</blockquote></p>
<p>For more see <a href="https://daringfireball.net/projects/markdown/syntax">this page</a></p> 