<div class="right-column-box">

<h1>Members Pages</h1>

<p>Active</p>
<ul>
  <li><%= link_to "Bulletin Board", posts_path %></li>
  <li><%= link_to "Membership", members_list_path %></li>
  <li><%= link_to "Account/Profile", account_path(@user.member.id) %></li>
</ul>
<p>Coming Soon</p>
<ul>
  <li>Event Sign-up</li>
  <li>Documents</li>
</ul>
<!-- Close right-column-box -->
</div>