<script>
jQuery(function($){

//   $('#trip_crew_arrival').blur(function() {

//   var $origDate = Date($('#trip_crew_arrival'));

//  alert($origDate);
  
//   $('#trip_tug_time').val( Date($origDate.getTime() + 30*60000));

//var newDateObj = new Date(oldDateObj.getTime() + diff*60000);
//   $('#member_user_attributes_username').val($(this).val());
});

});
</script>


<% content_for :sidebar do %>
  <%= render "events/event_details" %>
<% end %>

<h1>New trip</h1>

<%= render 'form' %>

<%= link_to 'Back', trips_path %>
