<% content_for :sidebar do %>
  <%= render "sidebars/pwd_reset" %>
<% end %>

<h1>Squadron Member Login</h1>

<%= form_tag sessions_path do %> 

<div align="center">

<% if alert %>
<p class="error"><%= alert %></p>
<% end %>

<%= render "devise/sessions/new" %>
</div>
<% end %>


