
<h1><%= @content.title %></h1>

<%= markdown @content.body %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
<% end %>
<% end %>