<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">Hi <%= @member.first_name %>,</p>

<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">Welcome aboard. Your information has been added you to the  Devil Dog Squadron website members list.</p>

<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">You should be able to use the lost password function, outlined in the members Login document (attached), to set your password.</p>

<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">The quick version is:</p>

<ol style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">
<li>go to <a href="https://www.devildogsquadron.com/login">https://www.devildogsquadron.com/login</a></li>
<li>click on Forgot your password? link</li>
<li>enter your email and click "Send me password reset instructions"</li>
<li>you should receive an email with a link back to the website and a form to set your password.</li>
</ol>

<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">After you login, you can complete your contact and emergency contact info.</p>

<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">If you have any website difficulties, please do not hesitate to contact me.</p>

<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">Best regards,</p>

<p style="font-size: 12pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">Jim Ivanoff<br />
Website Admin<br />
Devil Dog Squadron</p>

<%= image_tag 'https://www.devildogsquadron.com/uploads/images/dd_illustration_sm.jpg' %>

<br /><br />
