<h1>New Dues Payment</h1>

<p>Members pulldown order is current members alphabetical, followed by non-current members alphabetical order.</p>

<%= render 'form' %>

<%= link_to 'Back', dues_payments_path %>
