<div class="content-left">

<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @teaser.content %>
</p>


<%= link_to 'Edit', edit_teaser_path(@teaser) %> |
<%= link_to 'Back', teasers_path %>

</div>