<h1>Submit a Safety Concern</h1>

<p>Use this form to submit a safety concern. The submission process is anonymous. You may attach your name if you would like a direct response.</p>

<%= render 'form' %>

<%= link_to 'Back', safety_items_path %>
