<h1>Editing event</h1>

<%= render 'form' %>

<div align="right"><%= button_to 'Delete Event', @event, :confirm => 'Are you sure?', :method => :delete %></div>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %><br />

