<div class="content-left">

<h1>New event</h1>

<%= render 'form' %>

<%= link_to 'Back', events_path %>

<!-- Close content-left -->
</div>


<div id="right-column">


<!-- Close right-column -->
</div>

<!-- Close content -->
</div>