<h1>Instructions</h1>
<ol>
  <li>This Test is for you to quiz your knowledge that you have obtained after reading the course material.</li>
</ol>
</div>


<h2><em>Course Test</em></h2>


<%= render 'blank_test' %>

