<div class="home-left-box">

<h1>Feed the Dog</h1>

<p>Giving history a future requires support. The Devil Dog Squadron relies on support from personal and business donations to cover the ongoing operating, maintenance and restoration costs.</p>

<div class="ftd_row">
  <div class="ftd_left_cell">
    <div align="center">
    <img src="images/dog_bowl.jpg" width="151" height="93" />
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="donateform"> 
      <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" /> 
      <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </div>
    </form> 
  </div>
  <div class="ftd_right_cell">
    <div align="center"> 
  <%= link_to image_tag('home_tshirt.jpg'), px_path %>
  <%= link_to "Visit our PX", px_path %>
  </div>
  </div>
</div>
</div>