<div class="hp-sponsors">

<h1>Sponsors</h1>

<p align="center">We wish to thank our sponsors for their generous support in helping us to keep the Dog flying.</p> 

<div class="row">
  <% @sponsors.each do |sponsor| %>
    <div class="col-sm-3 sponsor-logo">
      <%= link_to (image_tag '/uploads/images/' + sponsor.logo), sponsor.url, :target => '_blank' %>
    </div> 
  <% end %>
</div>

</div>

