<div class="hp-copy">

<h1><%= @about.title %></h1>

<%= markdown @about.body %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
      <%= link_to 'Edit', edit_content_path(@about) %>
    <% end %>
<% end %>

</div>