<div class="home-box galleries">

<h1>Galleries</h1>

  <div class="teaser-image">
    <%= image_tag("photos/080605_maint_update/thumbs/maint_0806_1.jpg") %>
  </div>

  <p>We like taking pictures and videos of the Devil Dog - it's such a fine looking airplane.</p>

  <p><%= link_to "Visit our gallaries to view...", galleries_path %></p>

</div>