<div class="home-box feed">

<h1>Feed the Dog</h1>

<p>Giving history a future requires support. The Devil Dog Squadron relies on support from personal and business donations to cover the ongoing operating, maintenance and restoration costs.</p>

<div class="ftd_row">

  <div class="teaser-image">
    <%= image_tag('dog_bowl.jpg') %>
  </div>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="DFVG4GSRFQUKN">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

  <div class="teaser-image">
    <%= link_to image_tag('home_tshirt.jpg'), px_path %>
  </div>
    <%= link_to "Visit our PX", px_path %>

</div>
</div>