<div class="main">

<h1><%= @donate.title %></h1>

<%= markdown @donate.body %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
      <%= link_to 'Edit', edit_content_path(@donate) %>
    <% end %>
<% end %>

</div>