<div class="home-left-box">

<h1>About Devil Dog Squadron</h1>

<img src="images/CAF_logo_161_72.jpg" width="161" height="72" class="fl" /><p>The Devil Dog Squadron is a volunteer organization of the Commemorative Air Force, dedicated to flying, maintaining and preserving a WWII B-25 bomber, the Devil Dog. The Devil Dog represents a PBJ, the Marine Corps version of a B-25.</p>

<p>We encourage you to explore our site to learn more about PBJs, the Squadron and the Commemorative Air Force.</p>

<div align="right"><p><%= link_to "Read more about Devil Dog Squadron...", pages_squadron_path %></p></div>

</div>