<% content_for :sidebar do %>
  <%= render "sidebars/members" %>
<% end %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Members Section</h1>

<p>Members only section provides access to information...</p>
