<h1>History of PBJs</h1>

<p>Not many people know that the US Marine Corps flew bombers in WWII. One of the missions of the Devil Dog Squadron is to keep that piece of history alive.</p>

<p>PBJs came about by chance. In 1943, North American, the B-25's manufacturer, produced more B-25s than the Army Air Corp could use. Approximately 800 of the airplanes were offered to the US Navy. Although the famous Doolittle Raid was a successful carrier launched formation of B-25s, the Navy had little use for the extra airplanes. They were too large for regular carrier duty.</p>

<table width="300" class="table_border" align="right">
    <tr>
        <th colspan="2">PBJ-1J Specifications:</th>
    </tr>
    <tr> 
        <td width="84" class="white_row"><strong>Span:</strong></td>
        <td width="306" class="white_row">67 ft.</td>
    </tr>
    <tr> 
        <td class="yellow_row"><strong>Length:</strong></td>
        <td class="yellow_row">51 ft. 0 in.</td>
    </tr>
    <tr> 
        <td class="white_row"><strong>Height:</strong></td>
        <td class="white_row">15 ft. 9 in.</td>
    </tr>
    <tr> 
        <td class="yellow_row"><strong>Weight:</strong></td>
        <td class="yellow_row">19,975 lbs. (empty)<br>
        33,500 lbs. (gross)<br>
        36,047 lbs. (maximum)</td>
    </tr>
    <tr> 
        <td class="white_row"><strong>Speed:</strong></td>
        <td class="white_row">275 mph (maximum)<br>
        230 mph (cruise)<br>
        105 mph (landing)</td>
    </tr>
    <tr> 
        <td class="yellow_row"><strong>Power:</strong></td>
        <td class="yellow_row">2 Wright 2600-13 engines<br>
        1,700 hp at take-off</td>
    </tr>
    <tr> 
        <td class="white_row"><strong>Range:</strong></td>
        <td class="white_row">1,350 miles</td>
    </tr>
    <tr> 
        <td class="yellow_row"><strong>Armament:</strong></td>
        <td class="yellow_row">16 .50 caliber machine guns<br>
        3,200 lbs of bombs /or<br>
        2,000 lb aerial torpedo</td>
    </tr>
    <tr> 
        <td class="white_row"><strong>Crew:</strong></td>
        <td class="white_row">5</td>
    </tr>
</table>

<p>The US Marine Corps, however, was looking for a medium bomber. They agreed to take the B-25s and use them for &quot;night heckling&quot;, anti-shipping missions or close air support of beachheads and landings. Taking the unwanted equipment was nothing new for the Marines, they often received obsolete or surplus equipment from the Army or Navy.</p>

<p>The Marines designated the B-25s &quot;PBJ&quot;. PB indicates <strong>P</strong>atrol <strong>B</strong>omber and the <strong>J</strong> is an alpha-code designating the manufacturer, North American Aviation (PBJ does not mean Peanut Butter and Jelly).</p>

<p>The Marines were innovative in customizing the PBJs for the jobs they faced. As most of the missions were performed at low altitude, there was not much need for the glass nose/bombardier position. It was replaced with a solid nose and armed with up to 8 - .50 caliber machine guns, or in some versions, a 75mm cannon.</p>

<p>9 PBJ squadrons made it overseas before the war ended in the Pacific. 26 PBJs were lost in combat and 19 were lost in operational accidents while in a combat zone.</p>

<p>The Devil Dog represents a PBJ-1J (the second J designates the model) of the VMB 612 squadron.</p>
