<% content_for :sidebar do %>
  <%= render "sidebars/f_18" %>
<% end %>

<h1>Refund Policy</h1>

<p>Rides cancelled due to maintenance or weather issues:</p>
<ul>
  <li>You may reschedule the ride at that stop, if possible.</li>
  <li>You may request to schedule at a future stop.</li>
  <li>You may request a full refund.</li>
</ul>

<p>Rides cancelled by you:</p>
 
<ul>
  <li>$ 95 fee for cancellation prior to 48 hours before the ride date.</li>
  <li>$ 150 fee for cancellation within 48 hours of ride date.</li>
</ul>

<p>No shows are non-refundable.</p>
