<h1>Devil Dog Airframe History</h1>

<p>The Devil Dog is a B-25J-30-NC. The Serial Number is 44-86758. She was built in Fairfax - Kansas City, Kansas in early 1945.</p>

<p>Here is a brief history of the airframe put together with the help of B-25 History site <a href="http://b-25history.org/aircraft/4486758.htm">http://b-25history.org/aircraft/4486758.htm</a>.</p>
 
<table class="table_border">
  <tr>
    <th>Date</th>
    <th>Notes</th>
  </tr>
  <tr>
    <td>Jun&nbsp;1945</td>
    <td>was delivered placed into storage at Independence, Missouri
    <div style="text-align:center;"><%= image_tag "/assets/photos/vintage/d_day_panel.jpg", :border => "1px" %></div>
    <div class="caption_text">Panel stamped with June 6, 1944 - the actual D-Day!</div></td>
  </tr>
  <tr>
    <td>Sep&nbsp;1945</td>
    <td>she was moved to Pyote, Texas</td>
  </tr>
  <tr>
    <td>Jun&nbsp;1951</td>
    <td>she was removed from storage in and modified by Hughes (TBM?) assignment was to James Connally Air Force Base, Texas</td>
  </tr>
  <tr>
    <td>Dec&nbsp;1957</td>
    <td>she was flown back to storage. </td>
  </tr>
  <tr>
    <td>Apr&nbsp;1958</td>
    <td>she was sold to Arrow Sales of North Hollywood, California. Her registration was assigned as N9643C.</td>
  </tr>
  <tr>
    <td>Aug&nbsp;1958</td>
    <td>she was sold to H. H. Coffield / Rockdale Flying Service of Rockdale, Texas</td>
  </tr>
  <tr>
    <td>1965</td>
    <td><%= image_tag "/assets/photos/vintage/devildog_in_belize_1965.jpg", :width => "450px", :border => "1px"  %><br />
    <div class="caption_text">Devil Dog in Belize 1965</div></td>
  </tr>
  <tr>
    <td>Feb&nbsp;1976</td>
    <td>she was again sold to W. A. Wooten and V. E. Thorpe of Harlingen, Texas, members of the CAF<br />
    <%= image_tag "/assets/photos/vintage/rockdale_1980.jpg", :width => "450px", :border => "1px"  %><br />
    <div class="caption_text">Devil Dog is front-most plane, in Rockdale TX</div></td>
  </tr>
  <tr>
    <td>Fall&nbsp;1980</td>
    <td>she was donated to CAF Ghost Squadron, based in Harlingen TX</td>
  </tr>
  <tr>
    <td>Jul&nbsp;1981</td>
    <td>first flight after restoration.</td>
  </tr>
  <tr>
    <td>Late&nbsp;1980s</td>
    <td>based in Conroe TX.</td>
  </tr>
  <tr>
    <td>Aug&nbsp;1991</td>
    <td>she was transferred to the American Airpower Heritage Museum (CAF)</td>
  </tr>
  <tr>
    <td>Jun&nbsp;1995</td>
    <td>assigned to CAF sponsor group nased in Houston TX. She had not flown in over a year, was ferried to Ft Worth TX for repairs and appeared in Airsho '95.</td>
  </tr>
  <tr>
    <td>Mar&nbsp;1996</td>
    <td>was moved to Houston's Hobby Airport. She toured to 19 airshows in 1996.</td>
  </tr>
  <tr>
    <td>Fall&nbsp;1996</td>
    <td>Number 2 (right) engine was changed out.</td>
  </tr>
  <tr>
    <td>Jan&nbsp;1997</td>
    <td>she was ferried to Georgetown TX for winter maintenance.</td>
  </tr>
  <tr>
    <td>Nov&nbsp;2001</td>
    <td>she was damaged during landing due to a main gear collapse. She was repaired.</td>
  </tr>
  <tr>
    <td>Aug&nbsp;2007</td>
    <td>Engine Number 2 (right) requires overhaul after piston damage found.</td>
  </tr>
  <tr>
    <td>2008</td>
    <td>structural pieces in the tail and left wing were replaced with new custom made pieces.
    <%= image_tag "/assets/photos/080605_maint_update/maint_0806_4.jpg", :width => "450px", :border => "1px"  %><br />
    <div class="caption_text">New Wing Attach Point Installed</div></td>
  </tr>
  <tr>
    <td>Jul&nbsp;2009</td>
    <td>Metal found in engine Number 1 (left) at Oshkosh Airventure. Replacement engine fitted early winter 2010 and returned to Georgetown TX.</td>
  </tr>

</table>


 