<% last_position = "" %>
<% content_for :sidebar do %>
  <%#= render "sidebars/calendar" %>
<% end %>

<h1>Devil Dog Squadron</h1>

<p>The Devil Dog Squadron is a volunteer organization of the <a href="http://www.commemorativeairforce.org/">CAF</a>, dedicated to flying, maintaining and preserving a WWII B-25 bomber, the Devil Dog. The Devil Dog represents a PBJ, the Marine Corps version of a B-25.</p>

<p>The squadron's volunteers come from all walks of life and have wide variety of backgrounds. It takes many different skills to make the group successful.</p>

<p>If you are interested in helping to preserve the Devil Dog the are many opportunities to do so. The monthly staff meetings are open to the public and are a good chance to meet the members and learn more about the group (and there is often a BBQ lunch!). </p>

<p>The monthly meetings are usually followed by work on the aircraft or preparation for the next airshow, providing a great opportunity to get up close and personal without the usual crowds that surround the Dog at airshows. Check our <a href="../calendar">calendar page</a> for meeting dates and times.</p>

<h2>Membership</h2>

<p>We are always looking for new members. There is a lot of work to do, but we have fun doing it. And it's not all work in the hangar. Members have the opportunity travel with the Dog to airshows. </p>

<p>If you would like to join the squadron, membership is open to all CAF members. If you are not yet a member of the CAF, you can learn more about the benefits of membership, and download an application form, at the <a href="http://commemorativeairforce.org/membership/membership-options">CAF's membership web page</a>.</p>

<h2>Base of Operations</h2>

<p>The Devil Dog is based and hangared at Pilots Choice Aviation in Georgetown TX.</p>

<blockquote> 

<p><a href="http://www.pilotschoice.com/">Pilots Choice Aviation</a><br />
209 Corsair Drive<br />
Georgetown, TX 78628</p>

<p>[<a href="http://maps.google.com/maps?q=30.685441,+-97.675667">Google Map</a>]</p>

</blockquote>
           

<h2>Squadron Officers</h2>

<table>
    <tr> 
        <th>Position</th>
        <th>Officer</th>
    </tr>
   <% @officer_positions.each do |officer_position| %>
   <tr class="<%= cycle('odd-row', 'even-row') %>">
     <td><%= officer_position.position_name %>: </td>
     <td><% officer_position.terms.current.each do |term| %>
      <% if last_position == officer_position.position_name %>
        /
       <% end %>
      <%= term.member.first_name + " " + term.member.last_name %>
      <% last_position = officer_position.position_name %>
    <% end %>
    </td>
    </tr>
<% end %>
</table>


 
            <p>If you have any questions or comments, please send us an email 
              at <a href="mailto:info@devildogsquadron.com">info@devildogsquadron.com</a></p>
