<% content_for :sidebar do %>
  <%= render "sidebars/f_18" %>
<% end %>

<h1>12 Planes of Christmas</h1>

<script src="https://widgets.kimbia.com/widgets/form.js?channel=12-Planes-of-Christmas/embed&messagingProfile=b-25-devil-dog-squadron-9643c"></script>