<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>

<h1>Devil Dog History</h1>

<div class="image-box-right">
  <%= image_tag "vmb612_3.jpg" %>

  <div class="caption_text">
    The No 3 ship of VMB-612 - the plane Devil Dog memorializes.<br /><i>photo courtesy of George Savini</i>
  </div>
</div>

<p>The Devil Dog is painted to represent ship number three of the VMB-612. It flew 22 missions before being lost.</p>

<h2>The VMB 612</h2>

<p>VMB-612, commanded by Lt. Col. Jack Cram, was selected for special training in night attacks on enemy shipping, using radar to locate and attack the targets. In addition to conventional bombs and torpedoes, the new 5-inch HVAR rockets were tried and found to be highly accurate and effective. By flying level about 300 feet above the water and correcting for wind and temperature variations, Cram's pilots learned to judge the rockets range. In one practice attack on a small island only 200 feet long by 100 feet wide, the squadron fired over 250 HVARs and scored 56 percent hits. </p>

<div class="image-box-left">
  <%= image_tag "tinytim1.jpg" %>
  <div class="caption_text">
    VMB 612 with TinyTim rocket<br><i>photo courtesy of NARA</i>
  </div>
</div>

<p align="left">In November 1944, VMB-612 was stationed on Saipan, but the nearest shipping targets were near Iwo Jima and Chichi, 630 and 750 miles to the north, respectively. Cram's squadron stripped their PBJs of excess weight, including the upper turrets and cheek guns, and carrying 1520 gallons of fuel, successfully flew missions which lasted 10-12 hours. 

<p align="left">From Saipan, VMB-612 moved to Iwo Jima in April 1945, where it could reach the coast of Japan during its nigh-time anti-shipping strikes. Cram's squadron claimed 7 ships sunk and 80 damaged during missions from Saipan and Iwo, with a loss of three PBJs in combat. On July 28, 1945, VMB-612 departed for its next base on Okinawa. 

<p align="right" class="caption_text">VMB History from DISPATCH Volume 22, Number 2, Summer, 1997
