/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0b1 | 201101 */

/* COLORS


green   => #52782a;
navy    =>  #1d2644;
gold    => #b78d03;
dk blue => #1d2644
gold    => #b78d03
lt grey => #f0f0f0
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

strong {
  font-weight: bold;
  }

em {
  font-style: italic;
  }


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea {
  font-family: Verdana, Helvetica, sans-serif;

}

/* =Header
-------------------------------------------------------------- */

#header_logo {
  float: left;
  margin: 40px 0 0 0;
  }

.header_pic {
       float: right;
       }

