/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img {
  border: none;
}

/* -----------------------------------------------------------
 Global styling
-------------------------------------------------------------- */

body {
  /*font-family: Verdana, Helvetica, sans-serif;*/
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  }

h1, h2, h3, h4 {
  margin: 0.5em 0;
  line-height: 1.4em;
  font-weight: 400;
  }

h1 {
  font-size: 1.75em;
  }

p {
  margin: 1em 0;
  text-align: justify;
  }

a:link, a:hover {
  color: #003399;
  }

a:visited {
  color: #1a2b54;
  }

ul {
  list-style: disc;
  margin: 0 0 1em 1.5em;
}

ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em;
}

.image-right {
  float: right;
  margin: 1em 2em 0 1em;
  width: 40%;
  }

.image-box-right, .image-box-left {
  padding: 0.25em;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  }

.image-box-right img, .image-box-left img {
  width: 100%;
  border: 1px solid #000;
  }

.caption_text {
  font-size: 0.75em;
  }

.teaser-image {
  margin: 0;
  }

.image-right img, .teaser-image img {
  width: 100%;
  }


footer, footer p {
  text-align: center;
  }

table {
  border: 1px solid #d6d68b;
  border-collapse: collapse;
  }

th, td {
  padding: 0.25em;
  }

.odd-row, .even-row {
  border: 1px solid #d6d68b;
  border-collapse: collapse;
  vertical-align: top;
  }

.odd-row {
  background: #fff;
  }

.even-row {
  background: #feffea;
  }

/* -----------------------------------------------------------
--- Small Screen styling
-------------------------------------------------------------- */

#container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  }

nav#top-nav ul {
  margin-top: -60px;
  list-style: none;
  margin: 0 0 1em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  }

header .logo {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  }

header .header-image {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  }

header .header-image img {
  width: 100%
  }

#main {
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-bottom: 1em;
  }


/*----------------------------------------------------
   Homepage boxes styles
-------------------------------------------------------*/

.home-box {
  padding: 0.5em;
  border-bottom: 1px solid #1d2644;
  }

.updates {
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  }

.calendar {
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  }

.updates {
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  }

.about {
  -webkit-order: 3;
  -ms-order: 3;
  order: 3;
  }

.feed {
  -webkit-order: 4;
  -ms-order: 4;
  order: 4;
  }

.sponsors {
  -webkit-order: 5;
  -ms-order: 5;
  order: 5;
  }

.galleries {
  -webkit-order: 6;
  -ms-order: 6;
  order: 6;
  }

.sponsors-board {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  }

.ftd_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  }


.content {
  padding: 0.5em;
  }

footer {
  -webkit-order: 3;
  -ms-order: 3;
  order: 3;
  }

/*----------------------------------------------------
   Calendar graphics styles
-------------------------------------------------------*/

.calendar_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  margin: 0 0.7em 0.8em 0.8em;
  width: 90%; 
  padding-top: 0.25em;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  box-shadow: 4px -3px 8px rgba(0,0,0,.15);
  }

.calendar_row p {
  padding: 0.5em;
  }

.event-info {
  margin: 0 0.5em;
  width: 70%;
  }

.event-details {
  font-size: 0.85em;
  margin: 0.25em 0;
  }

.date-graphic {
  width: 25%;
  }

.calendar-ii {
  width: 50px;
  height: 50px;
  margin: 0 0.25em;
  border: 1px solid #333;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }

.calendar_month-ii {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  color: #fff;
  background: #cc0000;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  }

.calendar_date-ii {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 3px 0 0 0;
  padding-top: 0px;
  color: #000;
  }



/*----------------------------------------------------
   Navigation
-------------------------------------------------------*/

nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

nav ul {
  list-style: none;
  margin: 0 0 1em 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  }

nav a, nav a:visited {
  display: block;
  padding: 16px;
  cursor: pointer;
  border: 1px solid #88ddf7;
  color: #666;
  }

nav li { /* all list items */
  margin: -1px 10px 0; /*margin between top nav boxes - my code*/

 }
nav a:hover, nav a.sfhover {/* hover styles - my code */
  text-decoration: none;
  background: #0574ab;
  color: #fff;
  }

/*--------------------------------------------------------*/


