/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0b1 | 201101 */

/* COLORS
dk blue => #1d2644
gold    => #b78d03
lt grey => #f0f0f0
green   => #52782a;
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
  }

body {
  line-height: 1;
  }

ol, ul {
  list-style: none;
  }

blockquote, q {
  quotes: none;
  }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
  }

del {
  text-decoration: line-through;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
}

td {
  border: 1px solid #ccc;
  padding: 0.45em;
  }


strong {
  font-weight: bold;
  }

em {
  font-style: italic;
  }

/*----------------------------------------------------
Global Style
-------------------------------------------------------*/

body {
  font-family: Verdana, Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  }

h1, h2, h3, h4 {
  margin: 0.5em 0;
  line-height: 1.4em;
  font-weight: 400;
  }

h1 {
  font-size: 1.75em;
  }

h2 {
  font-size: 1.5em;
  }

p {
  margin: 1em 0;
  text-align: justify;
  }

a:link, a:hover {
  color: #003399;
  }

a:visited {
  color: #1a2b54;
  }

ul {
  list-style: disc;
  margin: 0 0 1em 1.5em;
}

ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em;
}

.image-right {
  float: right;
  margin: 1em 2em 0 1em;
  width: 40%;
  }

.image-box-right, .image-box-left {
  padding: 0.25em;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 2px 2px 0px 0px;
  -moz-border-radius: 2px 2px 0px 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  }

.image-box-right img, .image-box-left img {
  width: 100%;
  border: 1px solid #000;
  }

.caption_text {
  font-size: 0.75em;
  }

.text-center, .text-center p {
  text-align: center;
  }

.text-center img {
  width: 100%;
  }

.teaser-image {
  margin: 0;
  }

.image-right img, .teaser-image img {
  width: 100%;
  }

.image-center img {
  width: 100%;
  display: block;
  margin: 0 auto;
  }

iframe {
  width: 100%;
  }

footer, footer p {
  text-align: center;
  }

/*----------------------------------------------------
   table styles
-------------------------------------------------------*/

table {
  border: 1px solid #d6d68b;
  border-collapse: collapse;
  }

th, td {
  padding: 0.25em;
  }

th {
  background: #52782a;
  font-weight: bold;
  color: #fff;
  }

.odd-row, .even-row {
  border: 1px solid #d6d68b;
  border-collapse: collapse;
  vertical-align: top;
  }

.odd-row {
  background: #fff;
  }

.even-row {
  background: #feffea;
  }

/*----------------------------------------------------
   form styles
-------------------------------------------------------*/
input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  background: #e2ecee;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/*----------------------------------------------------
   Calendar graphics styles
-------------------------------------------------------*/

.calendar_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  margin: 0 0 0.8em 0;
  width: 100%; 
  padding-top: 0.25em;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  box-shadow: 4px -3px 8px rgba(0,0,0,.15);
  }

.calendar_row p {
  padding: 0.5em;
  }

.event-info {
  margin: 0 0.5em;
  width: 70%;
  }

.event-details {
  font-size: 0.85em;
  margin: 0.25em 0;
  }

.date-graphic {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  }

.date-graphic.large {
  width: 100%;
  }

.calendar-ii {
  width: 50px;
  height: 50px;
  margin: 0 0.25em;
  border: 1px solid #333;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }

.calendar-ii.large {
  width: 125px;
  height: 125px;
  margin: 1em 0;
}

.calendar_year-ii {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  color: #fff;
  background: #cc0000;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  }

.calendar_month-ii {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  color: #fff;
  background: #cc0000;
  }

.calendar_month-ii.large {
  font-size: 2em;
}

.calendar_day-ii {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.25em 0 0;
  color: #fff;
  background: #cc0000;
  }

.calendar_date-ii {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 3px 0 0 0;
  padding-top: 0px;
  color: #000;
  }

.calendar_date-ii.large {
  font-size: 4em;
  margin: 0.25em 0 0 0;
}
/*----------------------------------------------------
Set first level order small
-------------------------------------------------------*/
header {
  -webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
  -ms-flex-order: 1;              /* TWEENER - IE 10 */
  -webkit-order: 1;               /* NEW - Chrome */
  order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

.main {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  }

nav {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
  }

footer {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
  }

/*----------------------------------------------------
Formatting Small Screen
-------------------------------------------------------*/

#container {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  }

header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-top: 4.4em;
  }

header .logo {
  display: none;
  }

header .header-image {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  }

header .header-image img {
  width: 100%
  }

.main {
/*  -webkit-order: 2;
  -ms-order: 2;
  order: 2; */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-bottom: 1em;
  padding: 0 1em;
  }

.menu-link {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  z-index: 1;
  width: 100%;
  padding: 0.5em 0 0.5em 0em;
  top: 0;
  left: 0;
  background: #1d2644;
  margin: 0 0 0 0;
  }

.menu-link a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  width: 55px;
  margin: 0 1em;
  }

.menu-link img {
  width: 100%;
  vertical-align: middle;
  }

.signup_box {
  background: #EDD68A;
  margin: 0.75em 0.75em;
  padding: 0.5em 1em;
  border: 1px solid #b78d03;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.signup_buttons {
  display: block;
  margin: 0 auto;
  }

.signup_buttons form, .signup_buttons div {
  display: inline;
  }

/*----------------------------------------------------
   Homepage boxes styles
-------------------------------------------------------*/

.home-box {
  padding: 0.5em;
  border-bottom: 1px solid #1d2644;
  }

.updates {
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  }

.calendar {
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  }

.updates {
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  }

.about {
  -webkit-order: 3;
  -ms-order: 3;
  order: 3;
  }

.feed {
  -webkit-order: 4;
  -ms-order: 4;
  order: 4;
  }

.sponsors {
  -webkit-order: 5;
  -ms-order: 5;
  order: 5;
  }

.galleries {
  -webkit-order: 6;
  -ms-order: 6;
  order: 6;
  }

.sponsors-board {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  }

.ftd_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  }

.px-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em auto;
  border-radius: 2px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  box-shadow: 4px -3px 8px rgba(0,0,0,.15);
  }

.px-item > img {
  width: 100%;
  }

.item-info {

  }

.payment-info {
  margin: 1em 0 0;
  text-align: right;
  }

.gallery-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em auto;
  border-radius: 2px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  box-shadow: 4px -3px 8px rgba(0,0,0,.15);
  }

.photo-cell {
  text-align: center;
  }

.photo-cell > a > img {
  width: 100%;
  }

.content {
  padding: 0.5em;
  }

footer {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1em;
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #b78d03;
  margin: 0;
  padding: 1em;
  background: #1d2644;
  }

footer a:link, footer a:visited {
  color: #b78d03;
  }

.copyright {
  text-align: center;
  }

/*----------------------------------------------------
   Navigation
-------------------------------------------------------*/

nav {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

nav > ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin: 2em 0 0;
  padding-top: 0;
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top,  #666666 0%, #4f4f4f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #666666 0%,#4f4f4f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
  }

nav > ul > li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1.5em;
  transition: all linear 0.1s;
  border-bottom: 1px solid #000;
  }

nav > ul > li > a:link {
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  z-index: 2;
  }

nav > ul > li > a:visited {
  color: #fff;
  }

.location {
  display: block;
  text-align: center;
  clear: both;
  margin: 4em 0 0 0.25em;
  padding: 0.25em 0.5em;
  background: #009140;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
-moz-box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);

nav > ul > li > a:hover {
  background: #3f3f3f; /* Old browsers */
  background: -moz-linear-gradient(top,  #3f3f3f 0%, #202020 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#202020)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3f3f3f 0%,#202020 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3f3f3f 0%,#202020 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3f3f3f 0%,#202020 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3f3f3f 0%,#202020 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
  color: #fff;
  }

nav > ul > li > ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin: 0 0 0 1em;
  display: none;
  width: 200px;
  position: absolute;
background: #666666; /* Old browsers */
background: -moz-linear-gradient(top,  #666666 0%, #4f4f4f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #666666 0%,#4f4f4f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
 
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 5px 5px 2px #000;
  -moz-box-shadow: 15px 15px 7px #000;
  -webkit-box-shadow: 2px 5px 8px 5px #000;
  }

nav > ul > li > ul > li {
  margin: 0;
background: #666666; /* Old browsers */
background: -moz-linear-gradient(top,  #666666 0%, #4f4f4f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #666666 0%,#4f4f4f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #666666 0%,#4f4f4f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4f4f4f',GradientType=0 ); /* IE6-9 */
 
  }

nav > ul > li > ul > li > a:link {
  flex: 0 1 auto;
  padding: 0.5em 1em;
  margin: 0;
  cursor: pointer;
  display: block;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  }

nav > ul > li > ul > li > a:visited {
  color: #fff;
  }

nav > ul > li > ul > li > a:hover {
  color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #3f3f3f; /* Old browsers */
  background: -moz-linear-gradient(top,  #3f3f3f 0%, #202020 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#202020)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3f3f3f 0%,#202020 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3f3f3f 0%,#202020 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3f3f3f 0%,#202020 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3f3f3f 0%,#202020 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f3f3f', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
  }

nav > ul > li:hover ul {
  display: inline-block;
  z-index: 2;
  }

/*----------------------------------------------------
Wide Style
-------------------------------------------------------*/
@media only screen and (min-width: 800px) {

.menu-link {
  display: none;
  }

/*----------------------------------------------------
Set first level order
-------------------------------------------------------*/

nav {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  }

header {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  }

.main {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
  }

footer {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
  }

/*----------------------------------------------------
   Navigation
-------------------------------------------------------*/

nav > ul {
  position: fixed;
  width: 100%;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #1d2644;
  margin: 0;
  padding-top: 0;
  }


.event_graphic {
margin: 0 0 1em 0;
  }

.event_graphic img {
width: 100%;
}

nav > ul > li > a:hover {
  background: #eacf6e; /* Old browsers */
  background: -moz-linear-gradient(top,  #eacf6e 1%, #b78d03 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eacf6e), color-stop(100%,#b78d03)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eacf6e 1%,#b78d03 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eacf6e 1%,#b78d03 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eacf6e 1%,#b78d03 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eacf6e 1%,#b78d03 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eacf6e', endColorstr='#b78d03',GradientType=0 ); /* IE6-9 */
  color: #fff;
  }

nav > ul > li > ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  list-style: none;
  margin: 0 0 0 1em;
  display: none;
  width: 200px;
  position: absolute;
  background: #1d2644;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(66,66,66,0.5);
  -moz-box-shadow: 7px 7px 15px 0px rgba(66,66,66,0.5);
  box-shadow: 7px 7px 15px 0px rgba(66,66,66,0.5);
  }

nav > ul > li > ul > li > a:hover {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: #eacf6e; /* Old browsers */
  background: -moz-linear-gradient(top,  #eacf6e 1%, #b78d03 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eacf6e), color-stop(100%,#b78d03)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eacf6e 1%,#b78d03 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eacf6e 1%,#b78d03 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eacf6e 1%,#b78d03 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eacf6e 1%,#b78d03 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eacf6e', endColorstr='#b78d03',GradientType=0 ); /* IE6-9 */
  color: #fff;
  }

/*----------------------------------------------------
Formatting Wide Screen
-------------------------------------------------------*/

header {
  padding-top: 0;
  }

.hero img {
  width: 1626px;
}

.main {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto 2em;
  }

.main article {
  width: 70%;
  padding-right: 2em;
  }

.main aside {
  width: 30%;
  padding-left: 2em;
  border-left: 1px solid #ddd;
  }

/*----------------------------------------------------
   Homepage boxes ordering
-------------------------------------------------------*/

.about {
  -webkit-order: 1;
  -ms-order: 1;
  order: 1;
  }

.updates {
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  }

.calendar {
  -webkit-order: 4;
  -ms-order: 4;
  order: 4;
  }

.feed {
  -webkit-order: 3;
  -ms-order: 3;
  order: 3;
  }

.sponsors {
  -webkit-order: 5;
  -ms-order: 5;
  order: 5;
  }

.galleries {
  -webkit-order: 6;
  -ms-order: 6;
  order: 6;
  }

}

/*----------------------------------------------------
Wide Style
-------------------------------------------------------*/
@media only screen and (min-width: 800px) {

#container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  /* width: 80%; */
  margin: 0 auto;
  text-align: left;
  background: #fff;
  min-height: 100%;
  border: 1px solid #b78d03;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0;
  }

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0;
  width: 100%;
  }

header.logo {

  }

.header-image {
  
  }

nav#top-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-order: 2;
  -ms-order: 2;
  order: 2;
  background: #b78d03;
  position: relative;
  }

#main, #main-home {
  -webkit-order: 3;
  -ms-order: 3;
  order: 3;
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-flex-flow: row wrap; 
  -ms-flex-flow: row wrap; 
  flex-flow: row wrap; 
  -webkit-justify-content: space-around; 
  -ms-flex-pack: center; 
  -justify-content: space-around; 
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 1em 0 2em 0;
  background: #f0f0f0;
  }

nav#top-nav > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;

    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
    nav#top-nav > ul > li {
      flex: 0 1 auto;
      margin: 0;
      padding: 0;
      width: 160px;
    }
    
      nav#top-nav > ul > li:hover {
        background: #ddd;
      }
      
      nav#top-nav > ul > li a {
        background: linear-gradient(to bottom,rgba(102,102,102,1) 0,rgba(0,0,0,0.96) 100%);;
        border: none;
        border-radius: 0 0 2px 2px;
        box-shadow: 0 3px 1px rgba(0,0,0,.05);
        display: none;
        font-size: 1em;
        position: absolute;
        width: 195px;
      }
      
        nav#top-nav > ul > li:hover a {
          display: block;
        }
        
        nav#top-nav > ul > li a > ul {
          list-style-type: none;  
        }
        
          nav#top-nav > ul > li a > ul > li {
            margin: 0;
            padding: 0;
          }
          
            nav#top-nav > ul > li a > ul > li > a {
              color: rgba(255,255,255,.9);
              display: block;  
              font-size: .75rem;
              padding: .25em 1.5em;
              text-decoration: none;
            }
            
              nav#top-nav > ul > li a > ul > li:hover > a {
                background-color: rgba(0,0,0,.15);  
              }
  
      nav#top-nav > ul > li > a {
        align-items: flex-start;
        color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
        font-size: 1.25em;
        font-weight: 200;
        letter-spacing: 1px;
        max-width: 160px;
        padding: 1em 1em;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        transition: all linear 0.1s;
      }





.social_icons {
  float: left;
  margin-left: 10px;
  }

.ftd_row {
  float: left;
  width: 420px;
  }

.ftd_left_cell {
  float: left;
  width: 205px;
  border-right: 1px solid #999;
  }

.ftd_right_cell {
  float: left;
  width: 209px;
  margin-left: 5px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  }

#alert {
  font-size: 1.1em;
  text-align: center;
  font-style: italic;
  padding: 8px;
  color: #333;
  background: #ffbbad;
  border: 1px solid #990000;
  }

.signup_box {
  background: #EDD68A;
  margin: 0.75em 0.75em;
  width: 475px;
  padding: 0.5em 1em;
  border: 1px solid #b78d03;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.signup_buttons {
  margin: 0 0 0 13em;
  }

.signup_buttons form, .signup_buttons div {
    display: inline;
}

input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  background: #e2ecee;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  }
.styled-select {
  background: #e2ecee;
  border: 1px solid #ccc;
  font-size: 1.25em;
  padding: 0.1em 0.5em;
   }

.form_note {
  color: #999;
  font-style: italic;
  }

.ui-tooltip {
  width: 250px;
  }

.ui-tooltip-content {
  padding: 1em;
  background: #ffffe6;
  }

.caption_text {
  font-style: italic;
  color: #333;
}

.answer_fields {
  margin: 0 0 0 3em;
  }

.thumb {
  border: 1px solid #ccc;
  }

/*-----------------------------------------------------
  Hold Harmless
--------------------------------------------------------*/

#hold-harmless {
  width: 100%;
  font-size: 12pt;
}

#hold-harmless > h1 {
  text-align: center;
  font-size: 1.1em;
  line-height: 1.3em;
  }
#hold-harmless > p {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.85em;
  }

.hh-rev {
  font-size: 0.5rem;
  text-align: right;
  margin: 0 0 3em 0;
}

.hh-form {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 2em;
}

.underline {
  text-decoration: underline
  }

.pagination-nav {
  text-align: center;
  }

.month-subheader {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin: 1em auto;
  padding: 0.75em 0;
  background: #52782a;
}

.rides-teaser {
  font-weight: bold;
  text-align: center;
  font-style: italic;
}