<h1>Editing lhfe_rider</h1>

<%= render 'form' %>

<%= link_to 'Show', @lhfe_rider %> |
<%= link_to 'Back', lhfe_riders_path %>

<div style="text-align: right;"><%= link_to 'Delete', @lhfe_rider, method: :delete, data: { confirm: 'Are you sure?' } %></div>
