<%= render "distance_scripts" %>


<% content_for :sidebar do %>
  <div align="center">
  <%= link_to "AirNavLookup", "http://www.airnav.com/airports", :target => "_blank" %>
  </div>
<% end %>

<h1>Add New Location</h1>

<%= render 'form' %>

<%= link_to 'Back', locations_path %>
