<%= render "distance_scripts" %>


<% content_for :sidebar do %>
  <div align="center">
  <%= button_to "AirNavLookup", "http://www.airnav.com/airports", :method => "post", :form =>{:target => '_blank'} %>
  Look up airport info<br /> identifier, lat, lan, etc.
  </div>
<% end %>

<h1>Add New Location</h1>

<p>Locations are used with/tied to events.</p>

<%= render 'form' %>

<%= link_to 'Back', locations_path %>
