<h1>Thank You!</h1>
<p id="notice"><%= notice %></p>

<p>The following email address has been added to our mailing list.</p>
<p>
  <b>Address:</b>
  <%= @email_address.address %>
</p>


<%#= link_to 'Edit', edit_email_address_path(@email_address) %>
<%#= link_to 'Back', email_addresses_path %>
