<p><a href="http://www.commemorativeairforce.org/component/content/article/90-about-the-caf/117-copyright-information">Copyright</a> &copy; 2002 - <%= DateTime.now.strftime('%Y') %> Commemorative Air Force, Inc. except as otherwise marked. All rights reserved.</p>
