<div class="bottom-container">
<p><a href="http://www.commemorativeairforce.org/copyright.php">Copyright</a> &copy; 2002 - <%= DateTime.now.strftime('%Y') %> Commemorative Air Force, Inc. except as otherwise marked. All rights reserved.</p>

<!-- Close bottom-container -->
</div>