<div class="menu-link">
  <%= link_to image_tag("nose_art.png", :alt => "Devil Dog Squadron"), "/" %>
  <div style="margin-top: 0.75em;"><a href="#nav">menu</a></div>
</div>
<div class="logo">
  <%= link_to image_tag("nose_art.png", :alt => "Devil Dog Squadron"), "/" %>
</div>
<div class="header-image hero">
  <%= image_tag("headers/" + random_image) %>
</div>
