
    <div class="col-sm-6 field">
    * <%= f.label :email %><br />
    <%= f.text_field :email, :size => '20'  %>
    <%= f.hidden_field :username, :size => '20'  %>
    <% if @member.user.id.nil? %>
      <%= f.hidden_field :password, :value => 'welcome_1'  %>
    <% end %>
  </div>
