<% content_for :sidebar do %>
  <%= render "sidebars/members" %>
<% end %>

<h1>Edit Account</h1>

<%= render 'form' %>

<%= link_to 'Show',  account_path(@member) %>
<%#= link_to 'Back', members_list_path %>
