<h1>Membership Information Received - Thank You!</h1>

<h2>Membership Dues Payment</h2>

<p>Please make your $75 check payable to Devil Dog Squadron and mail to:<br />
<div style="margin-left: 2em;">Devil Dog Squadron<br />
c/o Pilot's Choice Aviation<br />
209 Corsair Drive<br />
Georgetown, TX 78628</div></p>


